* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: block;
}

#check {
    display: none;
}

.checkbtn {
    position: fixed;
    top: 0;
    right: 0;
    background: #ff0000;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 14px;
    background: #ff00005e;
    color: #fff;
    border-radius: 50%;
}

.navigation {
    display: none;
}

.hero img {
    float: right;
    height: 100vh;
    width: 40vw;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 50%;
    padding: 1rem;
}

.hero-container h1 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.hero-container p {
    text-align: justify;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 200;
}

.hero-container .btn {
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 0.8rem;
    margin-top: 10px;
    outline: none;
}

.hero-container .btn:hover {
    opacity: 0.8px;
}

@media (max-width: 540px) {
    .checkbtn {
        display: block;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    #check:checked ~ .navigation {
        left: 0;
    }

    .navigation a {
        background: #000;
        color: #fff;
        padding: 0.5rem 0.8rem;
    }

    .navigation li {
        padding: 10px;
        margin: 10px;
    }

    .navigation a:hover {
        opacity: 0.8px;
    }

    .navigation a, .navigation li {
        text-decoration: none;
        list-style: none;
    }

    .hero-container h1 {
        line-height: 48px;
    }
}

@media (max-width: 468px) {
    .checkbtn {
        display: block;
    }

    .logo {
        left: 0;
    }

    .hero-container h1 {
        line-height: 38px;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .hero-container p {
        display: none;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    #check:checked ~ .navigation {
        left: 0;
    }

    .navigation a {
        background: #000;
        color: #fff;
        padding: 0.5rem 0.8rem;
    }

    .navigation li {
        padding: 10px;
        margin: 10px;
    }

    .navigation a:hover {
        opacity: 0.8px;
    }

    .navigation a, .navigation li {
        text-decoration: none;
        list-style: none;
    }
}

@media (max-width: 320px) {
    .hero-container h1 {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .logo {
        position: relative;
        left: 0;
    }

    header, .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navigation a {
        background: #000;
        color: #fff;
        padding: 0.5rem 0.8rem;
        margin: 10px;
        margin-right: 10px;
    }

    .navigation a, .navigation li {
        text-decoration: none;
        list-style: none;
    }

    .right-menu li i {
        padding: 6px;
    }

    .hero-container h1 {
        line-height: 58px;
        font-size: 2.8rem;
    }

    .hero-container p {
        text-align: justify;
        line-height: 38px;
        font-size: 1.1rem;
    }

    .hero-container .btn {
        font-size: 1.3rem;
    }
}